/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;


$powershellBackgroundColor: #012456;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

     
.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; 
  height:100%;
  }
.reveal .slides > section.middle,
.reveal .slides > section > section.middle {
  height:auto;
  }

.reveal .slides > section.left,
.reveal .slides > section > section.left {
  text-align: left;
  }


  .reveal .slides > section.code.powershell,
  .reveal .slides > section > section.code.powershell {
    background-color:$powershellBackgroundColor;
  height:100%;
  width:100%;
  padding-left:200px;
  margin-left:-200px;
  padding-right:200px;
}

  .reveal code {
    font-family: "Fira Code", "Consolas", Courier;
    
     pre {
      margin:0;
      padding:0;
      border:none;
      box-shadow: none;
    }
  }
   
  .reveal code.powershell{
    font-family: "Consolas", Courier;
    background-color: $powershellBackgroundColor;
        padding: 1.5em;
        
        .command {
          color: #ff0;
        }
        .string {
          color: #008073;
        }
        .inverted-selection{
          background-color: #008000;
          color:#000080;
        }
      }
        .reveal .slides > section.code.powershell code.powershell,
        .reveal .slides > section > section.code.powershell code.powershell {
          padding:0;
        }
      

  
.bottom-container {
  position: relative;
 }

   .bottom {
     position: absolute;
     bottom:1em;
   }

  ul.small {
    font-size: 36px;
  }
  ul.x-small {
    font-size: 28px;
  }
  ul.xx-small {
    font-size: 22px;
  }


  .reveal .slides section .fragment.slow {
    -webkit-transition-duration:1s;
            transition-duration: 1s; }

.sl-footer {
  position: absolute;
  // left: 1em;
  bottom: 1em;
  font-size: 30px;
  color: white;
  font-family: $mainFont;
  z-index: 11;
  width: 100%;
  text-align: center;
}
.sl-footer-hidden{
  visibility: hidden;
}
